table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
}

dialog {
    width: 700px;
    max-width: 90%;
}

dialog img,
dialog video {
    max-width: 100%;
    margin-top: 12px;
}